:root {
  --white: #ffffff;
  --black: #000000;

  --blue-500: #3b82f6;

  --stone-500: #78716c;

  --sky-500: #0ea5e9;
  --sky-600: #0284c7;

  --gray-900: #111827;
  --gray-700: #374151;

  --neutral-900: #171717;

}
