:root {
  --white: #ffffff;
  --black: #000000;

  --blue-500: #3b82f6;

  --stone-500: #78716c;

  --sky-500: #0ea5e9;
  --sky-600: #0284c7;

  --rose-500: #f43f5e;
  --rose-700: #be123c;

  --yellow-500: #eab308;
  --yellow-700: #a16207;

  --gray-700: #374151;
  --gray-800: #2d2d2d;
  --gray-900: #111827;

  --green-500: #22c55e;
  --green-600: #22c55e;
  --green-700: #15803d;

  --neutral-800: #262626;
  --neutral-900: #171717;

  --zinc-900: #18181b;
}
